@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	/*color: orange;*/
	text-decoration: none;
}
a:hover, a:focus {
	/*color: #3397db;*/
  color: #155C8E;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  /*margin: 0 0 20px;*/
  margin: 0 0 1%;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #DEDEDE;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
#footer a{
  color: #FFD785;
}

/* ====================== Navigation ====================== */
nav {
  /*width: 100%;*/
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

nav.breadcrumb {
  padding: 0.8em 1em;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 4px;
  background: hsl(300, 14%, 97%);
  text-align: left;
  height: 2%;
  padding: 0.8em 0em 0.8em 2%;
}

nav.breadcrumb ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

nav.breadcrumb li {
  display: inline;
}

nav.breadcrumb li + li::before {
  display: inline-block;
  margin: 0 .25em;
  transform: rotate(15deg);
  border-right: .1em solid currentColor;
  height: .8em;
  content: '';
}

nav.breadcrumb [aria-current="page"] {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  /*height: 50px;*/
  /*background-color: #3397DB;*/
  background-color: #155C8F;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin-top: 2%;
  /*padding: 0 10px;*/
  min-width:170px;
}


/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  padding-top: 2%;
  text-align: center;
}

.restaurants-list h2{
	/*color: #f58500;*/
  color: #8A4500;
}

#restaurants-list div {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  text-align: left;
  margin: 15px;
  padding: 0 30px 25px;
  width: 270px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  margin: 0;
  height: auto;
  width: 100%;
}
#restaurants-list div h1 {
  /*color: #f18200;*/
  color: #804100;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list div a {
  /*background-color: orange;*/
  background-color:#7A4E00;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: relative;
  top: 0;
  width: 100%;
  /*z-index: 1000;*/
  height:10%;
}
.inside #map-container {
  background: white none repeat scroll 0 0;
  padding-bottom: 2px;
  position: relative;
  display: block;
  /*width: 100%;
  height:200px;*/
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
}
#restaurant-name {
  color: #804000;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
/* TO be removed*/
#restaurant-img {
	width: 100%;
	display: block;
	border-radius: 25px 0px 25px;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}
#restaurant-container, #reviews-container {
  /*border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;*/
  
  /*
  width: 100%;
  display: block;*/
  
}

#restaurant-container{
	/*position: absolute;*/
}

#reviews-container {
  /*padding: 30px 40px 80px;*/
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list div {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  list-style-type: none;
  margin-bottom: 5px;
  overflow: hidden;
  
  position: relative;
  width: 97%;
}
#reviews-list div p{
  margin: 0 0 10px;
  padding-left: 3%;
}
#restaurant-hours td {
  color: #666;
}


/*================== skip map element ====================*/
#skip a{ 
	position:absolute; 
	left:-10000px; 
	top:auto; 
	width:1px; 
	height:1px; 
	overflow:hidden;
} 
 
#skip a:focus { 
	position:static; 
	width:auto; 
	height:auto; 
} 

/*=========== modification form =========================*/
[class*="typicons-"]:before {
  color: #8A4500;
  display: inline-block;
  font-family: 'typicons', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;

}

a:hover [class*="typicons-"]:before {
  color: #3d85c6;
}

.loadMapButton{
  color: #8A4500;
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 7em;
}

.favoriteButton{
  color: #8A4500;
  background: none;
  border: none;
  font-size: inherit;
  display: inline-block;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
}